<div class="card">
    <h3>User Info Card Component</h3>

    <table class="table">
        <tbody>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Birthdate</td>
            </tr>

            <tr>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td class="red">{{birthdate}}</td>
            </tr>

            <tr>
                <td># of Contact Type</td>
                <td># of Document Type</td>
                <td></td>
            </tr>

            <tr>
                <td class="blue">{{contactCount}}</td>
                <td class="green">{{documentCount}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>