:host {
    display       : flex;
    flex-direction: column;
    margin        : 10px 0;

    .title-action {
        align-items: center;
        color      : orange;
        display    : flex;

        button {
            margin-left: 20px;
        }
    }
}